<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/form.css" />
  </head>
  <body>
    <%- include('../includes/navigation.ejs') %>
    <%if(errorMessage && errorMessage.length > 0){%>
      <div class="user-message user-message--error"><%= errorMessage %></div>
    <%}%>
    <form class="main-form" action="/new-password" method="post">
      <div class="form-control">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" />
      </div>
      <input hidden name="_csrf" value="<%= csrfToken %>" />
      <input hidden name="userId" value="<%= userId %>" />
      <input hidden name="resetToken" value="<%= resetToken %>" />
      <button type="submit">Update Password</button>
    </form>
<%- include('../includes/end.ejs') %>
