<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/form.css" />
  </head>
  <body>
    <%- include('../includes/navigation.ejs') %>
    <form action="/admin/<%if(isEdit){%>edit-product<%} else {%>add-product<%}%>" method="POST">
      <div class="form-control">
        <label for="title">Title:</label>
        <input type="text" name="title" id="title" value="<%if(isEdit){%><%= product.title%><%}%>"/>
      </div>
      <div class="form-control">
        <label for="imageUrl">Image Url:</label>
        <input type="text" name="imageUrl" id="imageUrl" value="<%if(isEdit){%><%= product.imageUrl %><%}%>" />
      </div>
      <div class="form-control">
        <label for="price">Price:</label>
        <input type="number" name="price" id="price" step="0.01" value="<%if(isEdit){%><%= product.price%><%}%>"/>
      </div>
      <div class="form-control">
        <label for="description">Description:</label>
        <textarea name="description" id="description" cols="5"><%if(isEdit){%><%= product.description%><%}%></textarea>
      </div>
      <input hidden type="text" name="productId" value="<%if(isEdit){%><%= product._id %><%}%>" />
      <button type="submit"><%if(isEdit){%>Update Product<%} else {%>Add Product<%}%></button>
    </form>
<%- include('../includes/end.ejs') %>
