<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/cart.css" />

  </head>
  <body>
   <%- include('../includes/navigation.ejs') %>

   <main class="cart-main_container">
     <% if(cartProducts?.length > 0){%> 
      <div class="cart-container">
        <% cartProducts.forEach(product => { %>
          <div class="cart-box">
            <div><%= product.productId.title %></div>
            <div>Quantity: <%= product.quantity %></div>
            <form action="/cart-item-delete" method="post">
              <input hidden type="text" name="productId" value="<%= product.productId._id %>" />
              <input hidden name="_csrf" value="<%= csrfToken %>" />
              <button class="btn-delete" type="submit">Delete</button>
            </form>
          </div>
          <%})%>
      </div>
      <hr />
      <form action="/orders" method="post">
        <input hidden name="_csrf" value="<%= csrfToken %>" />
        <button class="order-now">Order Now</button>
      </form>
      <%} else {%> <h1>No items in cart!</h1><%}%>
   </main>
  
<%- include('../includes/end.ejs') %>